.jumbotron-btn {
  background-color: var(--aqua400);
  border: 4px solid var(--aqua400);
  border-radius: 20px;
  color: var(--brown400);
  font-size: 26px;
}

.jumbotron-btn:hover {
  border: 4px dashed var(--aqua400);
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  .jumbotron-btn {
    font-size: 20px;
}
}