@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Signika+Negative&display=swap');

:root {
    --pink400: #fec5f2;
    --pink600: #d66dbf;
    --aqua400: #93ebe9;
    --aqua500: #75d6d5;
    --aqua600: #25b9b7;
    --yellow300: #fdf4de;
    --yellow400: #F6E6C2;
    --brown400: #64472E;
}

div {
    font-family: 'Signika Negative', sans-serif;
    color: var(--brown400);
}

.bg-pink {
    background-color: var(--pink400);
}

.bg-aqua {
    background-color: var(--aqua400);
}

.bg-yellow {
    background-color: var(--yellow400);
}

.bg-light-yellow {
    background-color: var(--yellow300);
}

.rounded-custom {
    border-radius: 60px;
}

.dash-border {
    border: var(--brown400) dashed 6px;
}

/* RESPONSIVE FONT SIZES */
.resp-title {
    font-size: 34px;
    font-weight: bold;
    font-family: 'Chelsea Market', cursive;
}

.resp-p {
    font-size: 20px;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
    .resp-title {
        font-size: 30px;
    }

    .resp-p {
        font-size: 20px;
    }
}